In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("data_LR_train.csv")

In [ ]:
df.head()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,1,783,36,16378.00,0,3.69,3.69,1.1200,1,1,0,0,0
1,2,711,48,28322.00,0,5.49,4.89,1.8200,1,1,0,0,0
2,1,773,36,9500.00,0,3.99,3.99,1.1100,3,1,0,0,0
3,1,743,72,24078.00,5,6.09,4.69,1.1100,1,0,1,0,0
4,1,762,72,14999.99,0,5.75,5.69,1.1463,3,0,0,1,0

In [ ]:
df1=pd.read_csv("data_LR_test.csv")

In [ ]:
df.shape

(60000, 13)

In [ ]:
df.describe()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
count,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.00000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000
mean,1.927700,726.736333,56.827100,25945.833244,1.735150,4.810375,5.624450,1.33084,2.032067,0.570917,0.227500,0.201583,0.221717
std,1.050551,44.812707,11.195901,11129.274156,3.464906,0.585542,1.544556,0.27949,0.910505,0.494949,0.419222,0.401186,0.415405
min,1.000000,601.000000,36.000000,4526.620000,0.000000,2.990000,2.450000,1.02000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,692.000000,48.000000,17653.400000,0.000000,4.390000,4.490000,1.11000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,726.000000,60.000000,25000.000000,0.000000,4.790000,5.090000,1.26380,2.000000,1.000000,0.000000,0.000000,0.000000
75%,3.000000,762.000000,60.000000,33000.000000,0.000000,5.190000,6.390000,1.41940,3.000000,1.000000,0.000000,0.000000,0.000000
max,4.000000,852.000000,72.000000,100000.000000,24.000000,6.450000,12.990000,2.12700,3.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.isnull().sum()

Tier                0
FICO                0
Term                0
Amount              0
Previous_Rate       0
Competition_rate    0
Rate                0
Cost_Funds          0
Partner Bin         0
Car_Type_N          0
Car_Type_R          0
Car_Type_U          0
Accept              0
dtype: int64

In [ ]:
df['Accept'].value_counts(normalize=True)

0    0.778283
1    0.221717
Name: Accept, dtype: float64

In [ ]:
df.columns

Index(['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U', 'Accept'],
      dtype='object')

In [ ]:
features=['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U']

In [ ]:
target=['Accept']

In [ ]:
x_train=df[features]
y_train=df[target]
print(x_train.shape,y_train.shape)

(60000, 12) (60000, 1)

In [ ]:
df1.isnull().sum()

Unnamed: 0          0
Tier                0
FICO                0
Term                0
Amount              0
Previous_Rate       0
Competition_rate    0
Rate                0
Cost_Funds          0
Partner Bin         0
Car_Type_N          0
Car_Type_R          0
Car_Type_U          0
Accept              0
dtype: int64

In [ ]:
x_test=df1[features]
y_test=df1[target]
print(x_test.shape,y_test.shape)

(25000, 12) (25000, 1)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg = LogisticRegression()

In [ ]:
logreg.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
y_pred=logreg.predict(x_test)
print(y_pred.shape)

(25000,)

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [ ]:
print(confusion_matrix(y_test,y_pred))

[[18360  1104]
 [ 3881  1655]]

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      0.94      0.88     19464
           1       0.60      0.30      0.40      5536

    accuracy                           0.80     25000
   macro avg       0.71      0.62      0.64     25000
weighted avg       0.78      0.80      0.77     25000